html,
body {
    height: 100%;
    /*background-color: #FFFFFF;*/
    background: #edf2e2 url(header3.jpg) repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.text{
    #font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 150%;
    color: #009900;

}


.tx{
    font-family: 'Glyphicons Halflings';
    font-style: normal;
}

.navbar-default
.navbar-brand{
    color: #009900;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: left;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.err{
    color: #880000;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/************************for chat window***********************/

@media only screen and (max-width : 540px)
{
    .chat-sidebar
    {
        display: none !important;
    }

    .chat-popup
    {
        display: none !important;
    }
}

body
{
    background-color: #e9eaed;
}

.chat-sidebar
{
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 4px;
    font-size: 12px;
}

.sidebar-name span
{
    padding-left: 5px;
}

.sidebar-name a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover
{
    background-color:#e1e2e5;
}

.sidebar-name img
{
    width: 32px;
    height: 32px;
    vertical-align:middle;
}

.popup-box
{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 285px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head
{
    background-color: #6d84b4;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left
{
    float: left;
}

.popup-box .popup-head .popup-head-right
{
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages
{
    height: 75%;
    overflow-y: scroll;

}
.chat-box
{
    width: 300px;
}

.header
{
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #6d84b4;
}

.messages
{
    padding: 10px;
    height: 200px;
    background-color: green;
    background-color: rgb(237, 239, 244);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow-y: scroll;
}

.messages ul
{
    padding: 0px;
    list-style-type: none;
}

.messages ul li
{
    height: auto;
    margin-bottom: 10px;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
}

.messages ul li span
{
    display: inline-block;
    max-width: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.messages ul li span.left
{
    float: left;
}

.messages ul li span.left:after
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}

.messages ul li span.left:before
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
}

.messages ul li span.right:after
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #dbedfe;
}

.messages ul li span.right:before
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
}

.messages ul li span.right
{
    float: right;
    background-color: #dbedfe;
}

.clear
{
    clear: both;
}

.input-box
{
    background-color: white;
    height: 50px;
    padding: 0px;

}

.input-box textarea
{
    padding: 0px;
    width: 300px;
    height: 100%;
    display: inline-block;
    outline: 0px;
    border-width: 0px;
    resize: none;
    border: 1px solid rgba(29, 49, 91, .3);
    /*border-color: black;*/
    border-style: solid;
    font-size: 12px;
    padding: 10px;
    border-top-width: 0px;
}



